* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* top section: */
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0) 78%,
      rgba(0, 0, 0, 0.9) 92%
    ),
    url("images/singapore.jpg");
  background-size: cover;
}
.top-container {
  display: flex;
  height: 12vh;
  justify-content: space-between;
  align-items: flex-end;
  color: rgb(206, 206, 206);
}
.name {
  margin-left: 50px;
  font-size: 17px;
  text-shadow: white 1px 1px 10px;
}
.top-nav {
  align-self: center;
}
.top-nav a {
  color: white;
  text-decoration: none;
  margin-right: 50px;
  font-size: 24px;
}
.top-nav a:hover {
  color: rgb(206, 205, 205);
  text-shadow: 1px 1px 10px rgb(206, 205, 205);
}
.icons {
  display: flex;
  justify-content: space-evenly;
  height: 10vh;
  font-size: 48px;
}
.icons a {
  text-decoration: none;
}
i {
  color: white;
}
i:hover {
  color: rgb(206, 205, 205);
  text-shadow: 0px 0px 10px rgba(206, 205, 205, 0.5);
  cursor: pointer;
}
/* modal */
.modal {
  position: absolute;
  transform: translate(190%, -100%);
  padding: 2%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show {
  animation: roll-down 1s forwards;
}
.modal h4 {
  font-size: 14px;
  display: inline;
}
.modal p {
  display: inline;
  font-size: 20px;
  font-weight: 700;
}
@keyframes roll-down {
  from {
    transform: translate(190%, -100%);
  }
  to {
    transform: translate(190%, 90%);
  }
}
/* bottom section: */
.technologies {
  height: 100vh;
}
.tech-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tech-images img {
  width: 15%;
  border: 3px solid black;
  border-radius: 50%;
}
.sample-images {
  display: flex;
  justify-content: center;
}
.sample-images img {
  width: 50%;
}
